// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #991557 !default;
$header-bg-color-secondary: #571599 !default;
$bg-image-url: 'https://ibug.github.io/image/aurora.jpg' !default;

// Text
$section-headings-color: #991557 !default;
$body-text-color: #6c6071 !default;
$body-link-color: #6b1eb8 !default;
$blockquote-text-color: #918198 !default;
$body-background-opacity: 0.75 !default;

// Code
$code-bg-color: #f6f3fa !default;
$code-text-color: #745682 !default;

// Borders
$border-color: #e6dcf0 !default;
$table-border-color: #ebe9ec !default;
$hr-border-color: #f0eff1 !default;
